[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bexl = {path = ".", editable = true}
coverage-python-version = "*"
coveralls = "*"
pytest = "*"
coverage = "*"
pyyaml = "*"
twine = "*"
wheel = "*"
pytest-watch = "*"

[packages]
